snippet D "HTML Boiler Plate code" b
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>${1:TITLE}</title>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
	
	${3:You bruh wassup!}

	<script src="${2:NAME}" type="application/javascript"></script>
</body>

</html>
endsnippet
