snippet D "HTML Boiler Plate code" b
<html>

<head>
	<title>${1:TITLE}</title>
	<link rel="stylesheet" href="${2:style.css}" type="text/css">
</head>

<body>
		${3}
</body>

</html>
endsnippet

snippet php "start php bang" b
<?php
	${1}
?>
endsnippet
